<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.13826315685-jacu7vd8488s7cluvmujpra2403q2349</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>13826315685-jacu7vd8488s7cluvmujpra2403q2349.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ProgressTypeSelectionIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Outfit.ttf</string>
	</array>
</dict>
</plist>
